.color1 {
 
    height: 50px;
 background-color: red;
}

.color2{
    height: 50px;
    background-color: green;
}

.color3{
    height: 50px;
    background-color: blue;
}

.color4{
    height: 50px;
    background-color: orange;
}